<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <!-- FrontEnd -->
    <route p="" controller="FrontController" action="index"/>
    <route p="article" controller="FrontController" action="show"/>
    <!-- Admin -->
    <route p="admin" controller="AdminController" action="index"/>
    <!-- Security -->
    <route p="login" controller="SecurityController" action="login"/>
    <route p="logout" controller="SecurityController" action="logout"/>
    <route p="signup" controller="SecurityController" action="signup"/>
</routes>