<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <!-- FrontEnd -->
    <route p="" controller="FrontController" action="index"/>
    <route p="article" controller="FrontController" action="show" params="id"/>
    <!-- Admin -->
    <route p="admin" controller="AdminController" action="index"/>
    <route p="post-comment" controller="AdminController" action="postComment"/>
    <route p="delete-comment" controller="AdminController" action="deleteComment" params="id"/>
    <route p="write-article" controller="AdminController" action="writePost"/>
    <route p="delete-article" controller="AdminController" action="deletePost" params="id"/>
    <route p="update-article" controller="AdminController" action="updatePost" params="id"/>
    <route p="userlist" controller="AdminController" action="userlist"/>
    <!-- Security -->
    <route p="login" controller="SecurityController" action="login"/>
    <route p="logout" controller="SecurityController" action="logout"/>
    <route p="signup" controller="SecurityController" action="signup"/>
    <route p="update-user" controller="SecurityController" action="updateUser" params="id"/>
    <route p="delete-user" controller="SecurityController" action="deleteUser" params="id"/>
</routes>